body {
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}


header {
    border-bottom: solid 2px rgb(228, 42, 42);
    padding: 2px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.chamada {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 500px;
}

.categoria-videos img {
    opacity: 1.0;
    height: 350px;
}

.categoria-jogos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(128, 0, 0);
}

.categoria-jogos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria h3 {
    color: rgb(42, 122, 228);
}

.categoria-jogos img {
    opacity: 1.0;
    height: 350px;
}

.categoria-jogos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(128, 0, 0);
}

.categoria h3 {
    color: rgb(42, 122, 228);
}